@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
}
.buttons{
    display: flex;
    width: 500px;
    height: 300px;
    align-items: center;
    justify-content: space-around;
}
.buttons .row{
    display: block;
}
.buttons .row button{
    position: relative;
    display: block;
    height: 55px;
    width: 150px;
    margin: 40px 0;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    transition: all 0s ease-out;
}
.row button:active{
    top: 3px;
}
.row button.facebook,
.row button.facebook span{
    background: #3B5999;
    border-left: 1px solid #2E4476;
    box-shadow: 0px 5px 0px 0px #2E4476;
}
.row button.facebook:active{
    box-shadow: 0px 5px 0px 0px #2E4476;
}
.row button.twitter,
.row button.twitter span{
    background: #46C1F6;
    border-left: 1px solid #269BD0;
    box-shadow: 0px 5px 0px 0px #269BD0;
}
.row button.twitter:active{
    box-shadow: 0px 5px 0px 0px #269BD0;
}
.row button.instagram,
.row button.instagram span{
    background: #e1306c;
    border-left: 1px solid #c91d56;
    box-shadow: 0px 5px 0px 0px #c91d56;
}
.row button.instagram:active{
    box-shadow: 0px 5px 0px 0px #c91d56;
}
.row button.youtube,
.row button.youtube span{
    background: #DE463B;
    border-left: 1px solid #C02B21;
    box-shadow: 0px 5px 0px 0px #C02B21;
}
.row button.youtube:active{
    box-shadow: 0px 5px 0px 0px #C02B21;
}
.row button.whatsapp,
.row button.whatsapp span{
    background: #2C984A;
    border-left: 1px solid #1D6531;
    box-shadow: 0px 5px 0px 0px #1D6531;
}
.row button.whatsapp:active{
    box-shadow: 0px 5px 0px 0px #1D6531;
}
.row button.linkedin,
.row button.linkedin span{
    background: #0A66C2;
    border-left: 1px solid #074B8F;
    box-shadow: 0px 5px 0px 0px #074B8F;
}
.row button.linkedin:active{
    box-shadow: 0px 5px 0px 0px #074B8F;
}
a{
    text-decoration: none;
}
.row button span{
    position: absolute;
    height: 55px;
    width: 60px;
    top: 0;
    left: -61px;
    line-height: 55px;
    font-size: 25px;
    display: block;
    font-weight: normal;
    border-radius: 5px 0 0 5px;
}
.row button:active span{
    top: -3px;
}